html,
body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  background-color: white;
  line-height: 1.2;
}

h1,
h2,
h3,
p,
q,
a {
  opacity: 0.9;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.1rem;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h2.information {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

h2.section-title {
  text-align: center;
  padding-top: 32px;
}

h3.main-thesis {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

p.banner {
  font-size: 1.3rem;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

p.author {
  font-size: 0.8rem;
  margin-top: 1.5rem;
}

p.details {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
  color: black;
}

a.read-more {
  color: blue;
  font-size: 0.8rem;
}

strong {
  font-weight: bold;
}

q {
  quotes: '"' '"' "'" "'";
  font-size: 0.8rem;
  opacity: 0.8;
}

q::before {
  content: open-quote;
}

q:after {
  content: close-quote;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

#main-content {
  position: relative;
  top: 4rem; /* To offset for fixed header. */
}

header,
#main-content {
  display: flex;
  justify-content: center;
  background-color: black;
}

header nav {
  border-bottom: solid 1px #c6c1c1;
}

header nav,
#main-content > section {
  background-color: white;
  width: 960px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav > ul {
  justify-content: space-between;
  height: 4rem;
  margin-left: 24px;
  margin-right: 24px;
}

nav > ul > ul li {
  margin-left: 16px;
}

nav .logo {
  display: flex;
  align-items: center;
}

nav .icon {
  height: 2rem;
}

nav.mobile {
  display: none;
}

.indent {
  margin-left: 16px;
}

.horizontal-layout {
  display: flex;
  flex-direction: row;
}

.vertical-layout {
  display: flex;
  flex-direction: column;
}

.vertical-center {
  justify-content: center;
}

.button {
  width: 80%;
  text-align: center;
  color: white;
  background-color: black;
  border: 1px solid black;
  padding: 8px 0;
  display: inline-block;
}

.wide-frame {
  padding: 32px 24px;
}

.thin-frame {
  padding: 16px;
}

.dark-background {
  background-color: lightgray;
}

.light-background {
  background-color: white;
}

.width-60 {
  width: 60%;
}

.width-40 {
  width: 40%;
}

.width-35 {
  width: 35%;
}

.width-65 {
  width: 65%;
}

.image-container {
  width: 100%;
  overflow: hidden;
}

.image-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.image-container img:nth-child(2) {
  display: none;
}

#information-section > .vertical-layout:nth-child(2) {
  padding-top: 16px;
  border-left: 1px solid lightgray;
}

#information-section > .vertical-layout:nth-child(2) .horizontal-layout {
  border-bottom: 1px solid lightgray;
}

#thesis-section > .horizontal-layout > .vertical-layout:nth-child(2) {
  padding-top: 32px;
}

#learning-section-desktop > .vertical-layout {
  padding: 32px 40px 0px 72px;
}

#learning-section-desktop > .vertical-layout > .horizontal-layout > .vertical-layout {
  flex: 1;
  margin-right: 32px;
}

#learning-section-desktop > .vertical-layout > .horizontal-layout {
  margin-bottom: 32px;
}

#learning-section-desktop .content {
  padding: 16px;
  flex: 1;
}

#learning-section-mobile {
  display: none;
}

#learning-section-mobile .vertical-layout {
  padding: 8px 16px 32px 16px;
}

#learning-section-mobile h3 {
  margin-top: 8px;
  padding: 16px 0 24px 16px;
}

footer {
  padding-top: 16px;
  padding-bottom: 48px;
  border-top: 1px solid lightgray;
  font-size: 0.8rem;
}

footer p:first-child {
  flex: 1;
  padding-left: 24px;
}

footer p:nth-child(n+2) {
  padding-right: 24px;
}

@media only screen and (max-width: 600px) {
  /* Mobile (normally breaks at 470px)*/

  #banner-section {
    flex-direction: column;
  }
  #banner-section .vertical-layout {
    width: 100%;
  }
  #banner-section .vertical-layout:first-child {
    padding: 0;
  }
  #banner-section .vertical-layout:last-child .content {
    padding: 32px 16px;
  }
  #banner-section .button {
    width: 100%;
  }

  #information-section > .vertical-layout:first-child {
    display: none;
  }
  #information-section > .vertical-layout:last-child {
    width: 100%;
    border-left: 0;
    padding-top: 0;
  }
  #information-section > .vertical-layout:last-child .horizontal-layout {
    flex-direction: column;
    border-bottom: 0;
  }
  #information-section > .vertical-layout:last-child .horizontal-layout:last-child {
    background-color: white;
  }
  #information-section > .vertical-layout:last-child .vertical-layout {
    width: 100%;
  }
  #information-section > .vertical-layout:last-child .content {
    padding-top: 16px;
  }
  #information-section > .vertical-layout:last-child img:first-child {
    display: none;
  }
  #information-section > .vertical-layout:last-child img:nth-child(2) {
    display: block;
  }

  #learning-section-desktop {
    display: none;
  }
  #learning-section-desktop > .vertical-layout {
    padding: 0;
  }
  #learning-section-mobile {
    display: block;
  }

  #thesis-section > .horizontal-layout > .vertical-layout:nth-child(2) {
    display: none;
  }
  #thesis-section > .horizontal-layout > .vertical-layout:nth-child(1) {
    width: 100%;
    padding: 16px 0 24px 0;
  }
  #thesis-section > .horizontal-layout > .vertical-layout:nth-child(1) > .content {
    display: none;
  }

  nav.desktop {
    display: none;
  }
  nav.mobile {
    display: block;
  }

  footer {
    border-top: 0;
    padding-bottom: 16px;
  }
  footer p:nth-child(n+2) {
    display: none;
  }
}
