html,
body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
}

strong {
  font-weight: bold;
}

header {
  position: fixed;
  width: 100%;
  border-bottom: solid 1px #c6c1c1;
  background-color: white;
  z-index: 1;
}

header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

header .logo {
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
}

header .icon {
  height: 2rem;
}

header nav ul {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

header nav li {
  margin-left: 1rem;
}

.main-content {
  position: relative;
  top: 4rem; /* To offset for fixed header. */
}
